<log4net>
  <root>
    <level value="error" />
    <!--<appender-ref ref="ADONetAppender" />-->
    <appender-ref ref="RollingFileAppender" />
  </root>

  <logger name="VACProject">
    <!--<appender-ref ref="ADONetAppender" />-->
    <appender-ref ref="RollingFileAppender" />
  </logger>

  <appender name="ADONetAppender" type="log4net.Appender.ADONetAppender">
    <bufferSize value="1" />
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />

    <connectionString value="attachdbfilename=D:\OralCMS\OralCMS\db\sqlserver\db\OralCMSDB.mdf;integrated security=True;connect timeout=30;Encrypt=True;MultipleActiveResultSets=False;TrustServerCertificate=False;"></connectionString>
    
    <commandText value="INSERT INTO ErrorLog ([Date],[Thread],[Level],[Logger],[user] , [Message],[Exception],[MachineName],[TransactionID])
                 VALUES (@log_date, @thread, @log_level, @logger, @user ,@message, @exception,@machine_name,@transactioID)" />

    <parameter>
      <parameterName value="@log_date"/>
      <dbType value="DateTime"/>
      <layout type="log4net.Layout.RawTimeStampLayout"/>
    </parameter>
    <parameter>
      <parameterName value="@thread"/>
      <dbType value="String"/>
      <size value="255"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%thread"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_level"/>
      <dbType value="String"/>
      <size value="50"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@logger"/>
      <dbType value="String"/>
      <size value="255"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@message"/>
      <dbType value="String"/>
      <size value="4000"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@exception"/>
      <dbType value="String"/>
      <size value="2000"/>
      <layout type="log4net.Layout.ExceptionLayout"/>
    </parameter>

    <parameter>
      <parameterName value="@user" />
      <dbType value="String" />
      <size value="50"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{user}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@machine_name" />
      <dbType value="String" />
      <size value="500"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{machinename}" />
      </layout>
    </parameter>

    <parameter>
      <parameterName value="@transactioID" />
      <dbType value="String" />
      <size value="50"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{transactionID}" />
      </layout>
    </parameter>
  </appender>

  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="ErrorLogFolder\\log.txt" />
    <appendToFile value="true" />
    <maximumFileSize value="1000KB" />
    <maxSizeRollBackups value="10" />
    <param name="Threshold" value="INFO" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d [%t] %-5p %c [%x] - %m%n" />
    </layout>
  </appender>
</log4net>