<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WpfApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WpfApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <!--<add name="oralcmsdbEntities" 
      connectionString="metadata=res://*/OralCMSModel.csdl|res://*/OralCMSModel.ssdl|res://*/OralCMSModel.msl;&#xD;&#xA;        
      provider=MySql.Data.MySqlClient;&#xD;&#xA;        
      provider connection string=&quot;
      server=localhost;&#xD;&#xA;         
      user id=root;&#xD;&#xA;         
      password=abc123;&#xD;&#xA;         
      database=oralcmsdb&quot;"
      providerName="System.Data.EntityClient" />-->

    <add name="oralcmsdbEntities" 
         connectionString="metadata=res://*/OralCMSModel.csdl|res://*/OralCMSModel.ssdl|res://*/OralCMSModel.msl;
         provider=MySql.Data.MySqlClient;&#xD;&#xA;  
         provider connection string=&quot;
         server=156.110.192.86;
         user id=drdsacct;
         password=4$t@rT3Rs;SslMode=none;
         database=oralcmsdb&quot;"
         providerName="System.Data.EntityClient" />

  </connectionStrings>
  
  <applicationSettings>
    <WpfApp.Properties.Settings>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
      <setting name="ApplicationTitle" serializeAs="String">
        <value>Oral History Workflow CMS APP</value>
      </setting>
      <setting name="Log4netConfigPath" serializeAs="String">
        <value>D:\\OralCMS\\OralCMS\\config\\log4net.config</value>
      </setting>
      <setting name="Version" serializeAs="String">
        <value>1.5.0</value>
      </setting>
    </WpfApp.Properties.Settings>

  </applicationSettings>
  
  <userSettings>
    <WpfApp.Properties.Settings>
      <setting name="WelComeApplicationTitle" serializeAs="String">
        <value>Welcome to Oral History Workflow CMS APP</value>
      </setting>
    </WpfApp.Properties.Settings>
  </userSettings>
</configuration>