<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->

  </configSections>
  <connectionStrings>

    <!--<add name="OralCMSDBEntities" connectionString="metadata=res://*/OralCMSModel.csdl|res://*/OralCMSModel.ssdl|res://*/OralCMSModel.msl;provider=MySql.Data.MySqlClient;provider    
         connection string=&quot;server=localhost;user id=root;password=abc123;persistsecurityinfo=True;database=oralcmsdb;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="OralCMSDBEntities" connectionString="metadata=res://*/OralCMSModel.csdl|res://*/OralCMSModel.ssdl|res://*/OralCMSModel.msl;provider=MySql.Data.MySqlClient;provider 
       connection string=&quot;server=localhost;user id=root;password=abc123;database=oralcmsdb&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>

  <!--The configuration to the sql server instance-->
  <!--<entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>-->

  <!--The configuration to the mysql server instance-->  
  <entityFramework>
    <defaultConnectionFactory type="MySql.Data.Entity.MySqlConnectionFactory, MySql.Data.Entity.EF6" />
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>